@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>Privacy Policy</h2>
<p>
    What this Privacy Policy covers
    This privacy policy covers howag StreamLibrary treats personal information that StreamLibrary collects and receives, including information related to your use of StreamLibrary services. Personal information is information about you that is personally identifiable like your name, address, email address, or phone number, and that is not otherwise publicly available.

    This policy does not apply to the practices of companies that StreamLibrary does not own or control, or to people that StreamLibrary does not employ or manage.<br>

    <br>

    Information Collection and Use<br>
    General<br>
    StreamLibrary may collect personal information when you register, when you use StreamLibrary services and when you visit StreamLibrary pages or the pages related to the content contained within StreamLibrary. StreamLibrary may combine information about you that we have with information we obtain from business partners or other companies in order to provide services you have requested from StreamLibrary. We do not purchase any personal data from other companies.<br>

    StreamLibrary collects information about your transactions with us and your use of the services that we offer.<br>

    StreamLibrary automatically receives and records information on our server logs from your browser, including your IP address, browser settings, and pages requested. StreamLibrary also requires a cookie, used only to keep track of your login status.<br>

    StreamLibrary uses information for the following general purposes:<br>

    - To fulfill your requests for products and services<br>

    - To improve our services;<br>

    - To contact you, conduct research, and provide anonymous reporting for internal and external clients;<br>

    <br>

    Registration<br>
    In order to publish or purchase content on StreamLibrary.com, you will need to create an account. When you register for an account, we will ask for your first and last name, and email address. We will also ask you to create a username which will be visible if you post in the forums. Once you register and sign in to MagicBlox, you are not anonymous to us.

    On your account profile page, you have the opportunity to opt-in to news and updates from StreamLibrary. If you choose to opt-in, we may send you email communications such as newsletters and invitations to MagicBlox events in your area.

    Whether or not you opt-in to news and updates from StreamLibrary, there are still certain (very rare) types of email communications you will receive from MagicBlox. These communications include site-critical announcements, changes to our Member Agreement, and any other communication it is necessary for all of our members to receive.<br>

    <br>

    Access Pass Subscriptions<br>
    When you purchase a Access Pass subscriptions on our site, we will ask for your payment information and billing address. If you do not elect to pay with Paypal, we will ask for your credit card number, card security code, and expiration date. This information is processed through Verisign for the purpose of completing your transaction, and is encrypted through secure socket layer (SSL) technology.<br>

    <br>

    Remission<br>
    In order to receive royalty and creator revenue payments from StreamLibrary, you will have to provide remission information. On your author account profile page will ask for the name, address, and phone number where you would like to receive your payment. In most cases we will be sending your payment through Paypal Mass Pay and you will receive your payments through email.

    Your earnings as a StreamLibrary creator are subject to US tax laws. Therefore, in order to receive payment, you will have to complete the Taxpayer Information section. We ask for your SSN, TIN, or EIN for the sole purpose of issuing a 1099 form for your earnings.

    If you are not a US taxpayer, you can check the box beside “Not a US Taxpayer,” and you will not have to enter an SSN, TIN, or EIN.<br>

    <br>

    Newsletter<br>
    Our newsletters are sent through our mass email vendor, Vertical Response, and the only information that is used in the process is your email address.  It is not made available to anyone at Vertical Response for any purpose other than sending our newsletter to you.<br>

    <br>

    Information Sharing and Disclosure<br>
    StreamLibrary does not share personal information about you with other people or nonaffiliated companies. We only share your personal information with third parties in the following circumstances:

    Agents: We provide the information to trusted partners who work on behalf of or with StreamLibrary under confidentiality agreements. These companies may only use your data as directed by MagicBlox, which includes using your personal information to help MagicBlox communicate with you, and completing financial transactions. However, these companies do not have any independent right to share this information, nor do they have any right to contact you for matters not pertaining to MagicBlox.

    Service Providers: If you opt-in to receive newsletters and other email communications from StreamLibrary, your email address will be collected and stored by Vertical Response, our email campaign service provider. Verticalresponse.com will not use your information for any purpose other than sending you emails on behalf of MagicBlox. MagicBlox does not share your information with other third parties;

    We may disclose your personal information in response to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims, or as otherwise required by law;

    We may disclose your personal information if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of MagicBlox's terms of use;

    We share information about you if StreamLibrary is acquired by or merged with another company. In this event, StreamLibrary will notify you before information about you is transferred and becomes subject to a different privacy policy.

    <br>

    If you include your personal information in content that you upload for posting and/or purchase on StreamLibrary.com, that information may be widely available to other users. MagicBlox does not exercise control over those users and cannot guarantee that your personal information will be protected as described in this Privacy Policy if you make it available as part of content posted on StreamLibrary.com. StreamLibrary does not delete or redact your personal information from content you provide. If you do not want your personal information to be displayed as part of the content you upload, then you must delete it prior to uploading.

    If you use our E-mail a Friend option to refer someone to a content page on our site, we will collect your friend’s name and email address. This information is used only to email your friend the page you requested, and is not stored or used for any other purpose.

    Information Transfer
    StreamLibrary will transfer personal information about you to other countries where StreamLibrary does business. In particular, MagicBlox will transfer personal information from the EU to the United States for the purposes of providing users in the EU with the services and products StreamLibrary offers. Although other countries may not have the same data protection laws as the country where you reside, StreamLibrary will apply the terms of this Privacy Policy to all personal information that it collects.

    Cookies
    A cookie is a small text file that is stored on a user’s computer for record-keeping purposes. MagicBlox will set and access MagicBlox cookies on your computer. The information stored by our cookies is linked only to your email and password. We do not link other personally identifiable information you provide to cookies. We use both session ID cookies and persistent cookies. StreamLibrary uses session ID cookies to ensure that you are recognized when you move from page to page within MagicBlox. These cookies are deleted when you close your browser. We use persistent cookies to identify your time zone, language preference, and/or country, as well as to allow you to use the MagicBlox forums. You can manually delete cookies at any time by following the directions given in your Internet browser’s Help file. If you reject cookies, you will be able to browse the site, but you will not be able to purchase or publish any MagicBlox content or participate in the forums.

    <br>

    Your Ability to Edit and Delete Your Account Information and Preferences<br>
    General<br>
    You can edit your account information at any time.<br>

    Certain communications from StreamLibrary, such as critical service announcements and administrative messages, are considered part of MagicBlox membership and you may not opt out of receiving them. You may opt out of receiving the MagicBlox newsletter, event invitations, and other non-critical StreamLibrary communications under Notification Preferences in the My Account section. This section is also where you can change the email address, password, and profile picture associated with your account.

    You may delete your StreamLibrary account by clicking the “Cancel my account” link in the Personal Information section of the My Account tab.

    If you have published material to StreamLibrary as a creator, that material may remain in some form on the site even after you retire it from public view.

    You may also correct, update, delete, or deactivate personal information by contacting support, or at the mailing address listed below.

    If you use the StreamLibrary forums, you should be aware that any personally identifiable information you submit there can be read, collected, or used by other users of these forums, and could be used to send you unsolicited messages. We are not responsible for the personally identifiable information you choose to submit in these forums. Our forum posting policies can be viewed here.

    <br>

    Confidentiality and Security
    We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs.

    We have physical, electronic, and procedural safeguards that comply with federal regulations to protect personal information about you.

    Your StreamLibrary Account Information is password-protected. You are responsible for not sharing your password.

    In certain areas StreamLibrary uses industry-standard SSL encryption to protect data transmissions related to commerce.

    <br>

    Changes to this Privacy Policy<br>
    StreamLibrary may update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your StreamLibrary account or by placing a prominent notice on our site.<br>
</p>