@page
@model Library.Pages.ProductsModel
@{
    ViewData["Title"] = "All Products";
}
<h2>Our Products</h2>
<p>Explore our wide range of books.</p>
<div>
    <img src="~/images/L2.jpg" alt="Featured Book" style="max-width: 200px; height: 200px;" />
</div>